.dropdown-menu {
    background: white;
  }
 #navbar-title{
     padding: -90px 2px;
   border-radius: 10px;
     position: fixed;
     /* padding-top:5px; */
     z-index: 33;
     height: 100px;
     /* padding-bottom:10px; */
     background-color:#EEEEEE;
     font-size: 1.2rem;
 }
 .navbar-brand{
     font-size:3rem;
 }
 p{
     font-size: 21px;
 }
  .features-text{
      font-family:"Montserrat-light",sans-serif;
      margin-left:8px;
      margin-top:25px;
      font-size: 3rem;
  }
 
  .card-img{
      
      padding:5px 20px;
  }
  .login-form{
      position: relative;
      top: 50px;
      left: 30%;
      width: 40%;
      height:30rem;
      background: rgb(244, 240, 240,.5);
  }
  .login-form form{
      position: relative;
      top: 50px;
      left: -10%;
      font-weight: bold;
  }
  .btn-login{
      margin-left: 6rem;
    background-color: green;
    width: 140px;
    border-radius: 24px;
  }
  .signup-form{
      position: relative;
      left: 20%;
      
      width: 60%;
      background:rgba(218, 213, 213, 0.5);
      
    
  }
  .subm{
      background-color: green;
      width: 80px;
      border-radius: 24px;
  }
  .dropdown-item {
    color: black !important;
  }
  .btn-signup{
      border: 2px solid green;
      top: -30px;
      position: relative;
      margin-left:70rem;
      
      /* margin-bottom: 1px; */
      
    
  }
  .collapse{
      margin-top: 20px;
  }
  .navbar-brand
  {
      margin-top: -20px;
  }
  .carousel{
      margin-top: -10px
  }
  .signnk{
      position: relative;
      left: 180px;
      top: -30px;
  }
  .andheri-title{
    
      text-align: center;
      position: relative;
      top: 100px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     padding-top:20px;
    
  }

 .feature-img{
     height:500px;
     padding:20px 10px;

  }
  .feature-para{
      text-align: center;
      margin-top:200px;
  }
 
  .andheri{
      padding: 10px 70px;
      margin: 110px 10px;
  }
  
  .card:hover{
      transform: scale(0.9);
  }
  .card{
      
      text-align: center;
  }
  


  .card img{
      height: 300px;
  }
  .upto{
      position: relative;
      left: 50%;
      top: 10%;
  }
.navbar-nav{
    flex-wrap: wrap;
    
}
  #white-foot{
    height:500px;
    /* background-color: #066163; */
    color:rgb(1, 0, 0);
    margin-top:100px;
    text-align:center;
    padding:40px 10px;
   margin-left:10px;
   margin-right:10px;
  }
  #footer{
      height:500px;
      background-color: #066163;
      color:white;
      margin-top:100px;
      text-align:center;
      padding:40px 10px;
     margin-left:10px;
     margin-right:10px;
  }
  .form-control{
      width: 180px;
      height: 25px;
      margin-left: 2rem;
      border-radius: 8px;
  }
  .mb-3{
      margin-left: 50px;
      font-weight: bold;
      font-size: 1.3rem;
      position: relative;
      left: 30%;
       padding: 10px 10px;
      height: 50px;
      display: flex;
     
    width: 70%;
  }
  .mb-3 input{
      padding: 3px 2px;
      text-align: center;
      
  }
  
  hr{
      margin-top:100px;
      border:1px solid grey;
     
      
  }
  .footer-img{
      height:50px;
      margin-bottom:100px;
     
  }

  
  